

@font-face {
	font-family: 'PtSans';
	src: url('../assets/ptsans/ptsans/ptsans.woff2') format('woff2'),
		 url('../assets/ptsans/ptsans/ptsans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PtSans';
	src: url('../assets/ptsans/bold/ptsansbold.woff2') format('woff2'),
		 url('../assets/ptsans/bold/ptsansbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}